<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page B</title>
    <span th:replace="~{pageA :: bootstrapImports}"></span>
</head>
<body>
<header>
    <span th:replace="~{pageA :: navBar}"></span>
</header>
<h2 class="text-center">Les lapins</h2>
<ul class="list-group">
    <li class="list-group-item text-light" th:each="r : ${myRabbits}">
            <a th:href="@{/detail/{id}(id = ${r.getId()})}" class="text-decoration-none text-light">Détail du lapin<p style="display: inline;" th:text="${r.getName()}"></p></a>
    </li>
</ul>

</body>
</html>