<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page B</title>
    <span th:replace="~{pageA :: bootstrapImports}"></span>
</head>
<body>
<h2>Page B</h2>

</body>
<header>
    <nav>
        <a th:href="@{/}">Home Page</a>
    </nav>
</header>
<ul>
    <li th:each="r : ${myRabbits}">
        <p Nom :>
            <a th:href="@{/detail/{id}(id = ${r.getId()})}">Détail du lapin <p th:text="${r.getName()}"></p></a>
        </p>

    </li>
</ul>


</html>